<header class="page-section">
  <section class="hero hero__container">
    <div class="hero__block">
      <h1 class="type-heading type-heading--1">
        Let’s make your product and team a success
      </h1>

      <p class="type-body type-body--3">
        thoughtbot is your expert design and development partner. We bring
        digital products from validation to success and teach you how because we
        care. It’s time to move beyond simply building features and start
        designing the right product with the right strategy.
      </p>
    </div>

    <div class="hero__block hero__block--image">
      <img
        class="image--fit"
        alt="thoughtbot's designers and developers"
        src="https://images.prismic.io/thoughtbot-website/41a0b62e-40e6-46b2-aefa-d0b57935bf50_hero-home.png"
      >
    </div>
  </section>
</header>

<section class="page-section">
  <header>
    <h2 class="type-heading type-heading--eyebrow">
      Startups, scale-ups, and beyond
    </h2>

    <p class="type-heading type-heading--2">
      Positive outcomes for hundreds of web and mobile projects like yours
    </p>
  </header>

  <ul class="grid">
    <% pages.each_with_index do |page, index| %>
      <li class="grid__card <%= "grid__card--featured page-card--featured" if index.zero? %>">
        <img
          class="image--fit"
          alt="Three screenshots of the SplitFit mobile application"
          src="https://images.prismic.io/thoughtbot-website/7065315e-27c5-4d41-a6a8-7eafda032bd6_featured_case-study-card__splitfit.jpg"
        >

        <div class="page-card__text">
          <p class="page-card__featured-label type-heading--eyebrow">
            Featured Case Study
          </p>

          <h3 class="type-heading type-heading--3">
            <%= page.name %>
          </h3>

          <p class="type-body type-body--2">
            <%= page.headline %>
          </p>

          <%= link_to page_path(page), class: "call-to-action" do %>
            Read the case study
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>

<section class="page-section">
  <header>
    <h2 class="type-heading type-heading--eyebrow">
      Our services
    </h2>

    <p class="type-heading type-heading--2">
      Your expert partners for building mission-driven products
    </p>
  </header>

  <div class="split-block split-block--3">
    <p class="split-block--double">
      Benefit from over 16 years of experience designing and building
      successful products. From a founder with an idea to product owners at large
      enterprises and everything in between, the thread that ties them all
      together is solving meaningful problems with a design-led approach. You’ll
      be working with a small, dedicated team of project-focused product experts
      built to fit the needs of your project.
    </p>

    <div class="split-block--single">
      <h3 class="type-heading type-heading--eyebrow">
        While working on your project:
      </h3>

      <ul class="list--unstyled">
        <li>
          Understand your business and user goals
        </li>

        <li>
          Validate your product assumptions
        </li>

        <li>
          Collaborate openly with you
        </li>

        <li>
          Work in weekly iterations of focused work
        </li>

        <li>
          Adapt our team based on your project needs
        </li>
      </ul>
    </div>
  </div>
</section>
