<header class="page-section type--narrow">
  <h1 class="type-heading type-heading--1 u-text-align--center">
    <%= render partial: "pages/editable", locals: {
      model: page,
      attribute: :headline,
      input: :text_area,
    } %>
  </h1>
</header>

<section
  class="
    page-introduction
    page-section
    split-block
    split-block--4
  "
>
  <div
    class="
      split-block--single
      type-body
      type-body--3
      u-margin-right--2
    "
  >
    <%= render partial: "pages/editable", locals: {
      model: page,
      attribute: :information,
      input: :rich_text_area,
    } %>
  </div>

  <div
    class="
      split-block--triple
      type-body
      type-body--3
      type-body--medium
      type-body--narrow
    "
  >
    <%= render partial: "pages/editable", locals: {
      model: page,
      attribute: :introduction,
      input: :rich_text_area,
    } %>
  </div>
</section>

<section class="page-section page-section--long-form trix-content--long-form">
  <%= render partial: "pages/editable", locals: {
    model: page,
    attribute: :content,
    input: :rich_text_area,
  } %>
</section>
