<h1 data-i18n-key="examples.index.title">
  <%= translate(".title") %>

  <%= render(
    partial: "admin/translations/edit_button",
    locals: { key: "examples.index.title" },
  ) %>
</h1>

<div data-i18n-key="examples.index.body">
  <%= translate(".body") %>

  <%= render(
    partial: "admin/translations/edit_button",
    locals: { key: "examples.index.body" },
  ) %>
</div>
