.page-section {
  --page-section-width: 75rem;

  margin: auto;
  max-width: var(--page-section-width);
  padding-bottom: 4.5rem;
}

.page-section:only-of-type {
  padding-top: 4.5rem;
}

@media (min-width: 64rem) {
  .page-section--long-form .trix-content > :not(.attachment-gallery--2):not(.attachment-gallery--4) {
    --page-section-narrow-padding: calc(0.5 * (var(--page-section-width) - 40rem));

    max-width: none;
    padding-left: var(--page-section-narrow-padding);
    padding-right: var(--page-section-narrow-padding);
  }
}
