<nav class="w-full z-30 top-0 text-white py-1 lg:py-6">
  <div
    class="w-full container mx-auto flex flex-wrap items-center justify-between relative mt-0 px-2 py-2 lg:py-6"
  >
    <div class="pl-4 flex items-center">
      <a
        class="text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
        href="#"
      >
        <svg
          class="h-6 w-6 inline-block fill-current text-orange-700"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path d="M13 8V0L8.11 5.87 3 12h4v8L17 8h-4z" />
        </svg>
        Bolt App
      </a>
    </div>

    <details class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 text-black p-4 lg:p-0 z-20" open>
      <summary class="absolute cursor-pointer flex lg:hidden items-center px-3 py-2 border list-none rounded h-8 w-8 text-gray-500 border-gray-600 top-0 right-0 mx-6 my-4 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">
        <svg
          class="h-3 w-3 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </summary>

      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <a
            class="inline-block py-2 px-4 text-black font-bold no-underline"
            href="#"
            >Active</a
          >
        </li>
        <li class="mr-3">
          <a
            class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
            href="#"
            >link</a
          >
        </li>
        <li class="mr-3">
          <a
            class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4"
            href="#"
            >link</a
          >
        </li>
        <li class="mr-3">
          <%= render "button", class: "mt-4 lg:mt-0" do %>
            Action
          <% end %>
        </li>
      </ul>
    </details>
  </div>
</nav>
